.navbar nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.navbar .navName{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 1;
}

.nav-list{
    display: flex;
    gap: 2rem;
}

.nav-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.nav-list ul li{
    
    list-style: none;
}

.nav-list ul li:hover{
    cursor: pointer;
    color: var(--second-layer-color);
}